@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@1,200;1,500;1,900&display=swap");

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #4f4045;
}
a {
  text-decoration: none;
  color: #4f4045;
  text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
    1px 0px 0px #fff;
}
a:hover {
  background-color: #dfdfdf;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: -75px;
  margin-top: -2px;
  margin-right: 202px;
  text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
    1px 0px 0px #fff;
}
h2 {
  text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
    1px 0px 0px #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 20px;
}
.header-container-index {
  height: 100vh;
  background-color: #ffab9b;
  background-image: url("../img/capa.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 200px;
  position: relative;
  text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
    1px 0px 0px #fff;
}
.header-container-sobre {
  padding: 40px 10px;
  background-color: #ffab9b;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  position: relative;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}
.social-media a {
  text-decoration: none;
  color: #4f4045;
  padding: 1rem 4rem;
  border: 1px solid #4f4045;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}
.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: #4f4045;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}
.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}
.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}
#toggle {
  display: none;
}
.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #dfdfdf;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}
.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}
.menu-items ul {
  list-style-type: none;
}
.menu-items ul li a {
  margin: 10px 0;
  color: #4f4045;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}
#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 48px;
}
#toggle:checked + .checkbox {
  background-color: #dfdfdf;
}
#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax #dfdfdf;
  z-index: 2;
}
#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #ffab9b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f4045;
}

.sobre .titulo {
  display: flex;
}
.sobre {
  background-color: #ffab9b;
}

.sobre .conteudo {
  font-size: 18px;
  margin: 0 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
}
.sobre .fotoSobre img {
  margin: 2px;
  padding: 6px;
  height: 400px;
}

.sobre .resumo {
  background-color: #dfdfdf;
  margin: 5px;
  padding: 30px;
  border-radius: 40px;
}
.player-ctrl {
  display: flex;
  justify-content: center;
  right: 0px;
  top: 0px;
  margin-top: 20px;
}
.player-ctrl i {
  font-size: 36px;
  color: white;
  line-height: 20px;
  padding: 4px;
}
.player-ctrl a {
  background-color: #fb5f70;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 168px;
}
.sobre .fotoSobre img {
  margin-top: 22%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  padding: 25px 9%;
  text-align: center;
  background-color: #dfdfdf;
}
.container .container-projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}
.container .container-projetos .projeto {
  height: 472px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #f3c2b8;
  padding: 15px;
  animation: fradeIn 0.2s linear;
  border: 3px solid #4f4045;
}
img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  magin-bottom: 10px;
  border-radius: 10px;
  border: branco;
}

@media (min-width: 1000px) {
  .projeto {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .projeto {
    font-size: 14px;
  }
  .container .container-projetos {
    height: max-content;
    margin-top: 0rem;
    margin-block-end: 1rem;
    display: flex;
    flex-direction: column;
  }
  .container {
    height: max-content;
    margin-top: 0rem;
    margin-block-end: 1rem;
    display: flex;
    padding: 0px;
  }
  h1 {
    font-size: 150%;
    margin: auto;
  }

  h2 {
    font-size: 90%;
    margin: 1rem;
  }

  .social-media {
    margin-top: 0rem;
    margin-block-end: 1rem;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .footer {
    flex-direction: column;
    width: 100%;
  }

  .player-ctrl a {
    background-color: #fb5f70;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: inherit;
  }
  .textoSobre {
    margin-left: -39%;
    font-size: 16px;
    margin-top: 141px;
  }
  .sobre .fotoSobre img {
    margin-left: -6%;
    margin-top: 13px;
    height: 200px;
  }
  .sobre img {
    height: 137px;
    margin-top: -59px;
  }

  .sobre .resumo {
    margin-left: 4px;
    padding: 58px;
  }
  .header-container-sobre {
    padding: 2px 9px;
  }
  .player-ctrl {
    display: flex;
    justify-content: center;
    right: 0px;
    top: 0px;
    margin-top: -156px;
  }
  .player-ctrl a {
    background-color: #fb5f70;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
